* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #e3e8df;
}

::-webkit-scrollbar {
    background-color: #e3e8df;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5e9639;
    border-radius: 8px;
}